html {
  scroll-behavior: smooth;
}

.body {
  display: grid;
  justify-items: center;
  align-items: center;
}

.main-list {
  list-style-type: none;
  text-align: center;
  padding-inline-start: 0;
}

.nav-list {
  padding-inline-start: 0;
}

.nav-list > li {
  font-weight: bold;
  text-decoration: underline;
  font-size: larger;
}

.nav-list a {
  color: initial;
  text-decoration: none;
}

.nav-list > li:not(:first-child) {
  margin-left: 10px;
}

/* copy pasted to make list horizontal */
.nav-list > li {
  display: inline-block;
  zoom:1;
  *display:inline;
}

.nav-bar {
  text-align: center;
  background-color: white;
}

.content {
  text-align: center;
}

.content-block {
  margin-bottom: 40px;
}

.content-header {
  font-weight: bold;
  text-decoration: underline;
  font-size: x-large
}

.news-item-header {
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  .body {
    margin: 0 30%;
  }

  .nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
  }
}

@media screen and (max-width: 600px) {
  div > img {
    width: 100%;
    margin-top: -35px;
  }

  .nav-list a {
    font-size: initial;
  }
}
